.redo
node_modules
npm_debug.log

lib/*.js
lib/angular/*.js
lib/angular/**/*.js
lib/angular/partials/*.gen.js
lib/models/*.js
lib/routes/*.js
lib/views/*.jade

test_out/

client/app.js
client/app.min.js
